.venv/
env/
venv/
__pycache__/
.idea/

data/
chroma_bofip/
rag/chroma_bofip/
qdrant_data/
logs/

*.sqlite3
*.jsonl
*.pkl
*.bin
*.onnx
*.pt
*.pickle
*.pdf

**/fastembed_cache/
**/.cache/
**/huggingface/
.env
